
/* @import './base.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #6366f1;
}

html, body {
    height: 100dvh;
    overflow: hidden;
}

button, button[type="button"] {
    background-color: var(--main-color);
    font-size: 1.5em;
    padding: 10px 20px;
    border-radius: 30px;
    width: 100%;
    color: white;
}

form input:not(input[type="checkbox"]) {
    border: 2px solid var(--main-color);
    width: 100%;
    font-size: 1.25em;
    padding: 10px;
    outline: none;
    border-radius: 10px;
}